* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    position: relative;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .logo1{
    height: 50px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .nav-links li {
    padding: 0 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff6347;
  }
  
  .menu-icon {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
  }
  
  #menu-toggle {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
    }
  
    #menu-toggle:checked + .menu-icon + .nav-links {
      display: flex;
    }
  
    .nav-links li {
      text-align: center;
      padding: 15px 0;
    }
  }
  