* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #141414;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  position: relative;
}


.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.logo1 {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav-links li {
  padding: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6347;
}


.menu-icon {
  display: none;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 15px 0;
  }
}

.movie-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.movie-card {
  background-color: #3c3c3c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  margin: 15px;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
}

.movie-info {
  padding: 15px;
  text-align: center;
}

.movie-title {
  font-size: 1.2em;
  margin: 0;
  color: #ffffff;
}

.director, .categories {
  font-size: 0.9em;
  color: #ffffff;
  margin: 5px 0;
}

.details-button {
  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.details-button:hover {
  background-color: #0056b3;
}

.contact-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #3c3c3c;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}

.contact-title {
  margin-bottom: 20px;
  color: #ffffff;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-label {
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}

.contact-input,
.contact-textarea {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;  
  background-color: lightgray;
}

.contact-input:focus, .contact-textarea:focus {
  border-color: #333;
  outline: none;
}

.contact-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #555;
}

.about-container {
  width: 100%;
  max-width: 800px;
  padding: 40px;
  background-color: #3c3c3c;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  text-align: center;
}

.about-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ffffff;
}

.about-section {
  text-align: left;
  margin-top: 20px;
}

.about-text {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-text strong {
  color: #333;
}

.login-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #3c3c3c;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 130px auto 0;
}

.login-title {
  margin-bottom: 20px;
  color: #ffffff;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}

.login-input {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;  
  background-color: lightgray;
}

.login-input:focus {
  border-color: #333;
  outline: none;
}

.login-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #555;
}

.register-button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
}

.register-button:hover {
  background-color: #777;
}

.register-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #3c3c3c;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 50px auto 0;
}

.register-title {
  margin-bottom: 20px;
  color: #ffffff;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-label {
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}

.register-input {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;  
  background-color: lightgray;
}

.register-input:focus {
  border-color: #333;
  outline: none;
}

.register-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #555;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

